# Wikipedia: List of largest Australian companies

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_Australian_companies'

In [4]:
response = requests.get(url)

In [5]:
result = BeautifulSoup(response.text, 'html.parser')

In [7]:
table_1 = result.find('table')
table_2 = result.find_all('table')[1]

In [22]:
table_1

<table class="wikitable sortable">
<tbody><tr>
<th>Rank
</th>
<th>Fortune 500<br/>rank
</th>
<th>Name
</th>
<th>Industry
</th>
<th>Revenue<br/><small>(USD millions)</small>
</th>
<th>Profits<br/><small>(USD millions)</small>
</th>
<th>Employees
</th>
<th>Headquarters
</th></tr>
<tr>
<td>1
</td>
<td>195
</td>
<td><a href="/wiki/Wesfarmers" title="Wesfarmers">Wesfarmers</a>
</td>
<td><a href="/wiki/Conglomerate_(company)" title="Conglomerate (company)">Conglomerate</a>
</td>
<td style="text-align:center;">53,985
</td>
<td style="text-align:center;">927
</td>
<td style="text-align:center;">217,000
</td>
<td><a href="/wiki/Perth" title="Perth">Perth</a>
</td></tr>
<tr>
<td>2
</td>
<td>233
</td>
<td><a href="/wiki/Woolworths_Group_(Australia)" title="Woolworths Group (Australia)">Woolworths Group</a>
</td>
<td><a href="/wiki/Retail" title="Retail">Retail</a>
</td>
<td style="text-align:center;">47,842
</td>
<td style="text-align:center;">1,336
</td>
<td style="text-align:center;">201,522
</td>
<td><a href="/wiki/Sydney" title="Sydney">Sydney</a>
</td></tr>
<tr>
<td>3
</td>
<td>246
</td>
<td><a href="/wiki/BHP" title="BHP">BHP</a>
</td>
<td><a href="/wiki/Mining" title="Mining">Mining</a>
</td>
<td style="text-align:center;">45,809
</td>
<td style="text-align:center;">3,705
</td>
<td style="text-align:center;">27,161
</td>
<td><a href="/wiki/Melbourne" title="Melbourne">Melbourne</a>
</td></tr>
<tr>
<td>4
</td>
<td>373
</td>
<td><a href="/wiki/Commonwealth_Bank" title="Commonwealth Bank">Commonwealth Bank</a>
</td>
<td><a class="mw-redirect" href="/wiki/Banking" title="Banking">Banking</a>
</td>
<td style="text-align:center;">33,186
</td>
<td style="text-align:center;">7,228
</td>
<td style="text-align:center;">45,753
</td>
<td>Sydney
</td></tr>
<tr>
<td>5
</td>
<td>433
</td>
<td><a href="/wiki/Westpac" title="Westpac">Westpac</a>
</td>
<td>Banking
</td>
<td style="text-align:center;">29,027
</td>
<td style="text-align:center;">6,151
</td>
<td style="text-align:center;">35,029
</td>
<td>Sydney
</td></tr>
<tr>
<td>6
</td>
<td>457
</td>
<td><a class="mw-redirect" href="/wiki/Australia_%26_New_Zealand_Banking_Group" title="Australia &amp; New Zealand Banking Group">Australia &amp; New Zealand Banking Group</a>
</td>
<td>Banking
</td>
<td style="text-align:center;">27,147
</td>
<td style="text-align:center;">4,863
</td>
<td style="text-align:center;">39,924
</td>
<td>Melbourne
</td></tr>
<tr>
<td>7
</td>
<td>479
</td>
<td><a href="/wiki/National_Australia_Bank" title="National Australia Bank">National Australia Bank</a>
</td>
<td>Banking
</td>
<td style="text-align:center;">25,943
</td>
<td style="text-align:center;">4,221
</td>
<td style="text-align:center;">33,283
</td>
<td>Melbourne
</td></tr></tbody></table>

In [10]:
table_data_1 = []
for row in table_1.find_all('tr'):
    row_data = [cell.text.strip() for cell in row.find_all(['th', 'td'])]
    table_data_1.append(row_data)
table_data_2 = []
for row in table_2.find_all('tr'):
    row_data = [cell.text.strip() for cell in row.find_all(['th', 'td'])]
    table_data_2.append(row_data)

In [14]:
for row in table_data_1:
    print(row)

['Rank', 'Fortune 500rank', 'Name', 'Industry', 'Revenue(USD millions)', 'Profits(USD millions)', 'Employees', 'Headquarters']
['1', '195', 'Wesfarmers', 'Conglomerate', '53,985', '927', '217,000', 'Perth']
['2', '233', 'Woolworths Group', 'Retail', '47,842', '1,336', '201,522', 'Sydney']
['3', '246', 'BHP', 'Mining', '45,809', '3,705', '27,161', 'Melbourne']
['4', '373', 'Commonwealth Bank', 'Banking', '33,186', '7,228', '45,753', 'Sydney']
['5', '433', 'Westpac', 'Banking', '29,027', '6,151', '35,029', 'Sydney']
['6', '457', 'Australia & New Zealand Banking Group', 'Banking', '27,147', '4,863', '39,924', 'Melbourne']
['7', '479', 'National Australia Bank', 'Banking', '25,943', '4,221', '33,283', 'Melbourne']

In [13]:
for row in table_data_2:
    print(row)

['Rank', 'Forbes 2000 rank', 'Name', 'Headquarters', 'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)', 'Value(billions US$)', 'Industry']
['1', '79', 'Commonwealth Bank', 'Sydney', '31.4', '6.7', '690.2', '92.8', 'Banking']
['2', '101', 'Westpac', 'Sydney', '29.1', '6.1', '636.9', '66.0', 'Banking']
['3', '109', 'BHP', 'Melbourne', '42.6', '6.0', '102.4', '138.3', 'Mining']
['4', '120', 'Australia & New Zealand Banking Group', 'Melbourne', '27.5', '4.9', '682.0', '54.0', 'Banking']
['5', '138', 'National Australia Bank', 'Melbourne', '25.3', '4.2', '583.8', '50.7', 'Banking']
['6', '313', 'Macquarie Group', 'Sydney', '11.3', '1.9', '148.8', '30.8', 'Finance']
['7', '398', 'Telstra', 'Melbourne', '18.7', '2.3', '30.8', '29.0', 'Telecommunications']
['8', '499', 'Woolworths Group', 'Sydney', '42.9', '1.3', '17.5', '29.3', 'Retail']
['9', '517', 'Wesfarmers', 'Perth', '33.8', '2.0', '14.5', '28.4', 'Conglomerate']
['10', '701', 'Suncorp', 'Brisbane', '10.3', '0.6', '69.9', '12.6', 'Insurance']
['11', '726', 'CSL', 'Melbourne', '8.2', '1.8', '11.5', '61.7', 'Pharmaceutical']
['12', '772', 'Woodside Petroleum', 'Perth', '5.3', '1.4', '27.1', '23.8', 'Oil and gas']
['13', '800', 'QBE Insurance', 'Sydney', '12.4', '0.5', '40.2', '12.1', 'Insurance']
['14', '866', 'Scentre Group', 'Sydney', '2.0', '1.7', '28.8', '14.7', 'Real estate']
['15', '910', 'South32', 'Perth', '7.9', '1.4', '15.1', '12.5', 'Mining']
['16', '935', 'Fortescue Metals Group', 'Perth', '6.8', '0.9', '18.1', '16.5', 'Iron and Steel']
['17', '943', 'Origin Energy', 'Sydney', '11.2', '0.9', '17.3', '9.2', 'Utilities']
['18', '1109', 'Insurance Australia Group', 'Sydney', '5.5', '0.7', '20.3', '12.8', 'Insurance']
['19', '1120', 'AGL Energy', 'Sydney', '9.5', '0.9', '10.7', '10.2', 'Utilities']
['20', '1151', 'Amcor', 'Melbourne', '9.4', '0.7', '8.9', '12.7', 'Packaging']
['21', '1253', 'Goodman Group', 'Sydney', '1.4', '1.1', '10.0', '16.5', 'Real estate']
['22', '1282', 'Qantas', 'Sydney', '12.8', '0.7', '13.1', '6.5', 'Airline']
['23', '1294', 'Transurban', 'Melbourne', '2.8', '0.2', '23.4', '25.2', 'Transportation']
['24', '1318', 'BlueScope', 'Melbourne', '9.3', '1.3', '7.9', '5.2', 'Iron and Steel']
['25', '1348', 'Santos', 'Adelaide', '3.8', '0.6', '17.3', '10.7', 'Oil and gas']
['26', '1365', 'Brambles', 'Sydney', '5.7', '0.6', '8.0', '13.5', 'Services']
['27', '1507', 'Dexus', 'Sydney', '0.6', '1.1', '10.4', '9.2', 'Real estate']
['28', '1540', 'AMP', 'Sydney', '4.9', '0.0', '102.3', '4.8', 'Finance']
['29', '1601', 'Caltex Australia', 'Sydney', '16.0', '0.4', '4.7', '5.1', 'Oil and gas']
['30', '1653', 'GPT Group', 'Sydney', '0.5', '1.1', '10.4', '7.6', 'Real estate']
['31', '1703', 'Vivo Energy', 'Melbourne', '12.2', '0.4', '3.7', '3.3', 'Oil and gas']
['32', '1755', 'Mirvac', 'Sydney', '1.9', '1.0', '9.9', '7.3', 'Real estate']
['33', '1765', 'Bendigo and Adelaide Bank', 'Bendigo', '1.7', '0.3', '50.5', '3.5', 'Banking']
['34', '1848', 'Sydney Airport Holdings', 'Sydney', '1.2', '0.5', '9.2', '12.0', 'Transportation']
['35', '1871', 'Lendlease', 'Sydney', '11.7', '0.3', '12.3', '5.1', 'Real estate']
['36', '1901', 'Bank of Queensland', 'Brisbane', '1.7', '0.2', '37.7', '2.6', 'Banking']
['37', '1940', 'Ramsay Health Care', 'Sydney', '7.4', '0.3', '8.7', '8.9', 'Health care']

In [15]:
import pandas as pd

In [17]:
column_name = table_data_1[0]
df_1 = pd.DataFrame(table_data_1[1:], columns=column_name)
column_name = table_data_2[0]
df_2 = pd.DataFrame(table_data_2[1:], columns=column_name)

In [18]:
df_1

,Rank,Fortune 500rank,Name,Industry,Revenue(USD millions),Profits(USD millions),Employees,Headquarters
0,1,195,Wesfarmers,Conglomerate,"53,985",927,"217,000",Perth
1,2,233,Woolworths Group,Retail,"47,842","1,336","201,522",Sydney
2,3,246,BHP,Mining,"45,809","3,705","27,161",Melbourne
3,4,373,Commonwealth Bank,Banking,"33,186","7,228","45,753",Sydney
4,5,433,Westpac,Banking,"29,027","6,151","35,029",Sydney
5,6,457,Australia & New Zealand Banking Group,Banking,"27,147","4,863","39,924",Melbourne
6,7,479,National Australia Bank,Banking,"25,943","4,221","33,283",Melbourne

In [19]:
df_2

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,79,Commonwealth Bank,Sydney,31.4,6.7,690.2,92.8,Banking
1,2,101,Westpac,Sydney,29.1,6.1,636.9,66.0,Banking
2,3,109,BHP,Melbourne,42.6,6.0,102.4,138.3,Mining
3,4,120,Australia & New Zealand Banking Group,Melbourne,27.5,4.9,682.0,54.0,Banking
4,5,138,National Australia Bank,Melbourne,25.3,4.2,583.8,50.7,Banking
5,6,313,Macquarie Group,Sydney,11.3,1.9,148.8,30.8,Finance
6,7,398,Telstra,Melbourne,18.7,2.3,30.8,29.0,Telecommunications
7,8,499,Woolworths Group,Sydney,42.9,1.3,17.5,29.3,Retail
8,9,517,Wesfarmers,Perth,33.8,2.0,14.5,28.4,Conglomerate
9,10,701,Suncorp,Brisbane,10.3,0.6,69.9,12.6,Insurance
10,11,726,CSL,Melbourne,8.2,1.8,11.5,61.7,Pharmaceutical
11,12,772,Woodside Petroleum,Perth,5.3,1.4,27.1,23.8,Oil and gas
12,13,800,QBE Insurance,Sydney,12.4,0.5,40.2,12.1,Insurance
13,14,866,Scentre Group,Sydney,2.0,1.7,28.8,14.7,Real estate
14,15,910,South32,Perth,7.9,1.4,15.1,12.5,Mining
15,16,935,Fortescue Metals Group,Perth,6.8,0.9,18.1,16.5,Iron and Steel
16,17,943,Origin Energy,Sydney,11.2,0.9,17.3,9.2,Utilities
17,18,1109,Insurance Australia Group,Sydney,5.5,0.7,20.3,12.8,Insurance
18,19,1120,AGL Energy,Sydney,9.5,0.9,10.7,10.2,Utilities
19,20,1151,Amcor,Melbourne,9.4,0.7,8.9,12.7,Packaging
20,21,1253,Goodman Group,Sydney,1.4,1.1,10.0,16.5,Real estate
21,22,1282,Qantas,Sydney,12.8,0.7,13.1,6.5,Airline
22,23,1294,Transurban,Melbourne,2.8,0.2,23.4,25.2,Transportation
23,24,1318,BlueScope,Melbourne,9.3,1.3,7.9,5.2,Iron and Steel
24,25,1348,Santos,Adelaide,3.8,0.6,17.3,10.7,Oil and gas
25,26,1365,Brambles,Sydney,5.7,0.6,8.0,13.5,Services
26,27,1507,Dexus,Sydney,0.6,1.1,10.4,9.2,Real estate
27,28,1540,AMP,Sydney,4.9,0.0,102.3,4.8,Finance
28,29,1601,Caltex Australia,Sydney,16.0,0.4,4.7,5.1,Oil and gas
29,30,1653,GPT Group,Sydney,0.5,1.1,10.4,7.6,Real estate
30,31,1703,Vivo Energy,Melbourne,12.2,0.4,3.7,3.3,Oil and gas
31,32,1755,Mirvac,Sydney,1.9,1.0,9.9,7.3,Real estate
32,33,1765,Bendigo and Adelaide Bank,Bendigo,1.7,0.3,50.5,3.5,Banking
33,34,1848,Sydney Airport Holdings,Sydney,1.2,0.5,9.2,12.0,Transportation
34,35,1871,Lendlease,Sydney,11.7,0.3,12.3,5.1,Real estate
35,36,1901,Bank of Queensland,Brisbane,1.7,0.2,37.7,2.6,Banking
36,37,1940,Ramsay Health Care,Sydney,7.4,0.3,8.7,8.9,Health care

In [20]:
df_1.to_csv(r'/Users/mkshan/Documents/Nandhini/Result/LargestCompanyAustraliaByFortunes.csv', index=False)

In [21]:
df_2.to_csv(r'/Users/mkshan/Documents/Nandhini/Result/LargestCompanyAustraliaByForbes.csv', index=False)